* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #ee752d;
}

.container {
	padding: 0;
	width: 960px;
}

.header {
	background-color: #fff;
	overflow: hidden;
}

#logoAGES {
	/* width: 450px; */
	height: 150px;
	float: left;
}

#logoAGES img {
	margin-top: 0px;
	width: 400px;
	height: 150px;
}

#menuPUC {
	margin: 0;
	padding-top: 5px;
	position: relative;
	width: 100%;
	height: 30px;
	font-family: verdana;
	font-size: 12px;
	font: white;
	background-color: blue;
}

#menuPUC ul li {
	margin: 0 5;
	display: inline;
	border-color: white;
	border-right: 2px;
	border: 5px;
}

#menuPUC  ul li a:hover {
	text-decoration: underline;
}

#menuPUC ul li a, ul li a:visited {
	color: #ebebeb;
	line-height: 12px;
}

#menuPUC   a:link {
	-webkit-tap-highlight-color: #fcd700;
}

#menuPUC  a {
	color: #03f;
}

#menuPUC a {
	vertical-align: baseline;
	background: transparent;
}

/**
Menu AGES
**/
#menuAGES {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #505492;
	margin-left: 0;
	z-index: 3;
}

#menuAGES ul {
	list-style: none;
}

#menuAGES ul li {
	float: left;
}

#menuAGES ul li a {
	padding: 15px 30px;
	line-height: 50px;
	border-left: 1px solid #505492;
	border-right: 1px solid #505492;
	text-decoration: none;
	color: #fff;
}

#menuAGES ul li:first-child a {
	border-left: 0;
}

#menuAGES ul li:last-child a {
	border-right: 0;
}

#menuAGES ul li a:hover {
	background-color: #4aa6e0;
}

.redeSocial {
	float: left;
	margin-left: 215px;
	margin-top: 5px;
}

.menuFixo {
	position: fixed !important;
	top: 0;
	z-index: 99;
}

.menuFixoRede {
	position: fixed !important;
	top: 50;
	z-index: 99;
}

/** formata elementos que tem backgrounds parallax **/
.bgParallax {
	font-family: 'Verdana', cursive;
	color: #fff;
	margin: 0 auto;
	width: 90%;
	max-width: 1200;
	position: relative;
	min-height: 100%;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}

/* Define backgrounds dos divs */
#quemsomos {
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-image: url("../img/fundo.jpg");
	box-shadow: -20px 0 50px 5px rgba(0, 0, 0, 0.7);
}

#projeto {
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-image: url("../img/fundo.jpg");
	-webkit-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	-o-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
}

.projeto {
	margin-left: 0px;
	padding: 0;
}

.projetocepes {
	margin-left: 20px;
	padding: 0;
}

.projetoages {
	margin-left: 20px;
	padding: 0;
}

#equipe {
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-image: url("../img/fundo.jpg");
	-webkit-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	-o-box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
	box-shadow: -20px 0 20px 5px rgba(0, 0, 0, 0.7);
}

/** Formata o article que vai o texto **/
.bgParallax article {
	width: 85%;
	text-align: justify;
	margin: 0 auto;
	padding: 5% 0 0;
}

/* formata texto */
.bgParallax article h1 {
	font-size: 40px;
}

.bgParallax article p {
	line-height: 30px;
	font-size: 20px;
	margin-top: 15px;
}

.bgParallax h2 a {
	color: #fff;
}

.bgParallax article p a {
	color: #fff;
	font-size: 20px;
}

.bgParallax span {
	line-height: 30px;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 10px;
}

.bgParallax article span a {
	color: #fff;
	font-size: 30px;
}

.bgParallax ul {
	line-height: 30px;
	font-size: 18px;
	margin-top: 15px;
	margin-left: 15px;
	text-align: left;
}

.bgParallax li {
	list-style: none;
}

#quemsomos li {
	list-style: none;
	list-style-image: url(../img/seta.gif);
}

.time {
	margin-left: 0px;
}

.ciclo {
	margin-left: 0px;
	padding: 0;
}

.cronograma {
	margin: 0;
	padding: 0;
}

.legenda {
	overflow: auto;
}

.listaDireita {
	float: right;
	width: 50%;
}

.listaEsquerda {
	float: left;
	width: 50%;
	padding: 10px;
}

.imgUser {
	width: 100;
	height: 75;
	margin: 0px;
}


.destaque {
	position:fixed;
	width: 500;
	height: 150;
	margin-left:450px;
	padding: 10;
	font-size: 24px;
	color: #ee752d;
}

.kanban table {
	margin-left: 50px;
	color: white;
}

.kanban tbody {
	color: black;
}

.postit {
	background-image: url('../img/postit.png');
	background-size: 150px 150px;
	background-position: center;
	background-repeat: no-repeat;
	/* font-size: 14px; */
}

.kanban td {
	text-align: center;
	font-size: 14px;
	width: 250px;
	height: 150px;
}
.kanban td p{
	text-align: center;
	padding-top:30px;
	margin: 10px 10px;
	width: 250px;
	height: 150px;

}
.kanban td p a{
	text-align: center;
	padding-top:30px;
	width: 250px;
	height: 150px;
	font-size: 14px;
	color:#337ab7;
	line-height: 20px;

}

.cronograma{

} 

.cronograma i{
 	margin-left: 5px;
} 

.cronograma table {
	margin-left: -10px;
	width: 750px;
	height: 60px;
}

.cronograma tbody {
	color: white;
}

.cronograma td {
	text-align: center;
	width: 50px;
	height: 30px;
	border: 2px;
	border-style: solid;
}

.linha{
	stroke:white;
	stroke-width:3;
	opacity:0.5;
}

/** Fale Conosco **/
#faleConosco{
	margin-bottom: 10px;
}
#faleConosco table{
	width: 100%;
}
#faleConosco table td, table td *{
	vertical-align: top;
	margin-bottom: 5px;
}
#faleConosco input, textarea{
	width: 85%;
	color: black;
}
#faleConosco select{
	color:black;
}
#faleConosco textarea{
	overflow: visible;
}
#faleConosco input[type=submit]{
	margin-top: 5px;
	color: white;
}